<h3 class="text-center">Players</h3>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Rank</th>
				<th>Summoner</th>
				<th>Rating</th>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
		</thead>
		<tbody>
			<% players_by_rank(@players).each.with_index do |player, i| %>
				<tr>
					<td><%= i + 1 %></td>
					<td><%= link_to player.name, player_path(player) %></td>
					<td><%= player.trueskill.round(3) %></td>
					<td><%= player.wins %></td>
					<td><%= player.losses %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>