<h3 class="text-center">Select Players</h3>
<div class="container">
	<% if flash[:notice] %>
		<div class="alert alert-danger"><%= flash[:notice] %></div>
	<% end %>

	<%= form_tag matchmaking_index_path, method: :post do %>
		<% @players.each do |player| %>
			<div class="checkbox">
				<label><%= check_box_tag 'selected_players[]', player.id %><%= player.name %></label>
			</div>
		<% end %>
		<%= submit_tag "Create Match", class: "btn btn-success" %>
	<% end %>
</div>